.PU {
font-weight: bold;
color: #9466F7;
}

.LOF {
font-weight: bold;
color: #b0d623;
}

.SLS {
font-weight: bold;
color: #f19ce6;
}

.TWR {
font-weight: bold;
color: #e4506D;
}

.NCTG {
font-weight: bold;
color: #e6bf61;
}

.SGIS {
font-weight: bold;
color: #40bdc4;
}

.FB {
font-weight: bold;
color: #b8b9ea;
}

.NMMST {
    font-weight: bold;
    color: #8d89dd;
}

.ELW {
    font-weight: bold;
    color: #92c0c2;
}

.Ferns {
    font-weight: bold;
    color: #1d8813;
}