.nyabtn {
background-color: #c284ff;
color: #260b37;
text-align: center;
font-size: 0.95rem;
min-width: 40%;
max-width: 40%;
padding: .5rem .5rem;
font-family: "Assistant", sans-serif;
border-radius: 7px;
border: none;
}

.nyabtn-long {
background-color: #c284ff;
color: #260b37;
text-align: center;
font-size: 1rem;
padding: .5rem .5rem;
font-family: "Assistant", sans-serif;
border-radius: 7px;
border: none;
}

.linkuwu {
color:#9248c4;
font-family: "Overpass Mono", monospace;
font-size: 100%;
letter-spacing: .5px;
}

.linkuwubig {
color:#9248c4;
font-family: "Overpass Mono", monospace;
font-size: 115%;
letter-spacing: .5px;
}

.color-title {
font-family: "Assistant", sans-serif;
text-align: center;
font-size: 190%;
font-weight: semibold;
color: #c284ff;
}

.darkline {
background: #0c0c10;
opacity:0.8;
}
